---
import { CardForm } from '@/components/forms/CardForm';
import Layout from '../layouts/Layout.astro';

---

<Layout title="APAFA145">
  <div class="h-screen w-screen grid sm:place-content-center">
    <section class="w-full max-w-96 mx-auto">
      <div class="min-h-[600px] my-14">
        <CardForm client:load/>
      </div>
    </section>
  </div>
</Layout>
