---
import { CardForm } from "@/components/forms/CardForm";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intranet | APAFA145">
  <div class="h-screen w-screen grid place-content-center fondo" id="content">
    <div class="bg-white px-10 rounded-md">
      <section class="w-full max-w-96 mx-auto">
        <div class="min-h-[600px] my-6">
          <CardForm client:load />
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  #content {
    @media (max-height: 680px) {
      place-content: start center;
    }
  }

  .fondo {
    background-image: url("https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
  }
</style>
