---
import Layout from "../layouts/Layout.astro";
import { Nav } from '@/components/Nav';

import { SearchForm2 } from '@/components/SearchForm';

---

<Layout title="Ajustes | APAFA">
  <section class="w-screen max-w-96 px-6">
    <nav class="flex items-center my-10">
      <Nav title="Asociados"client:load/>
    </nav>
    <div class="mb-6">
      <h2 class="text-3xl font-bold">Asociados</h2>
    </div>
    <SearchForm2 client:load/>
  </section>
</Layout>