---
import Layout from "../layouts/Layout.astro";
import { RegisterForm } from "@/components/forms/RegisterForm";

---

<Layout title="Registrarse | APAFA">
  <div class="h-screen w-screen grid" id="content">
    <section class="w-full max-w-[680px] mx-auto">
      <div class="my-14">
        <RegisterForm client:load/>
      </div>
    </section>
  </div>
</Layout>