---
import Layout from "../layouts/Layout.astro";
import { Header } from "@/components/Header";
import { DashboardReport } from "@/components/Reports";

const { role, userName } = Astro.locals.auth;
---

<Layout title="Home | APAFA">
  <section class="w-full max-w-5xl mx-auto">
    <Header role={role} name={userName} path="/reports" client:load />
    <DashboardReport role={role} client:load />
  </section>
</Layout>
