---
import Layout from "../layouts/Layout.astro";

import { SearchForm } from '@/components/SearchForm';
import { Header } from '@/components/Header';

const { isloggin, role } = Astro.locals

---

<Layout title="Búsqueda | APAFA">
  <section class="w-full max-w-96 px-6">
    <Header data={{isloggin, role}} client:load />
    <div class="mb-6">
      <h2 class="text-3xl font-bold">Búsqueda</h2>
      <p class="text-lg">Buscar asociado por DNI</p>
    </div>
    <SearchForm client:load/>
  </section>
</Layout>