---
import Layout from "../layouts/Layout.astro";

import { Nav } from '@/components/Nav';
import { CardUser } from '@/components/CardUser';


---

<Layout title="Ajustes | APAFA">
  <nav class="px-6 flex items-center my-10">
    <Nav title="Sistema" client:load/>
  </nav>
  <section class="w-screen max-w-96 px-6">
    <div class="mb-6">
      <h2 class="text-3xl font-bold">Sistema</h2>
      <p class="text-lg">Administrar usuarios</p>
    </div>
    <CardUser client:load/>
  </section>
</Layout>
