---
import Layout from "../layouts/Layout.astro";

import { Nav } from '@/components/Nav';
import { UserCard } from '@/components/UserCard';


---

<Layout title="Ajustes | APAFA">
  <section class="w-full max-w-2xl px-6 mx-auto flex flex-col gap-16">
    <div class="my-5">
      <Nav title="Sistema"client:load/>
    </div>
    <div class="pb-10">
      <div class="mb-6">
        <h2 class="text-3xl font-bold">Sistema</h2>
      <p class="text-lg">Administrar usuarios</p>
      </div>
      <UserCard client:load/>
    </div>
  </section>
</Layout>
