---
import Layout from "../layouts/Layout.astro";

import { SigninForm } from '@/components/forms/SigninForm';
import { Header } from '@/components/Header';

const { isLoggedIn, role } = Astro.locals

---

<Layout title="APAFA">
  <div class="h-screen w-screen grid place-content-center">
    <section class="w-full max-w-96 px-6 mx-auto flex flex-col gap-16 mb-20">
      <div class="my-5">
        <Header data={{ isLoggedIn, role}} client:load />
      </div>
      <div class="pb-10">
        <div class="mb-6">
          <h2 class="text-3xl font-bold">Bienvenido!</h2>
          <p class="text-lg">Accede a tu cuenta para continuar</p>
        </div>
        <SigninForm client:load/>
        <div class="mt-16">
          <span class="relative flex justify-center items-center w-full before:w-full before:h-[1px] before:content-[''] before:bg-primary my-6"></span>
          <span class="block text-sm">
            *Los padres de familia que deseen afiliarse a la
            <span class="uppercase">apafa</span>
            deben ingresar a este
            <a href="/register" class="underline text-blue-600">link</a>.
          </span>
        </div>
      </div>
    </section>
  </div>
</Layout>