---
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/search");
}

import { SigninForm } from '@/components/auth/SigninForm';
import { Header } from '@/components/Header';

---

<Layout title="APAFA">
  <Header client:load/>
  <section class="w-screen sm:w-96 px-6">
    <div class="mb-6">
      <h2 class="text-3xl font-bold">Bienvenido!</h2>
      <p class="text-lg">Accede a tu cuenta para continuar</p>
    </div>
    <SigninForm client:load/>
  </section>
  <script>
	</script>
</Layout>