---
import { supabase } from '../lib/supabase'
import Layout from '../layouts/Layout.astro'

import BackButton from '../components/BackButton'

const { cookies, redirect } = Astro

const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken || !refreshToken) {
  return redirect('/signin')
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
})

if (error) {
  cookies.delete('sb-access-token', {
    path: '/',
  })
  cookies.delete('sb-refresh-token', {
    path: '/',
  })

  return redirect('/signin')
}
---

<Layout title="Ajustes | APAFA">
  <div class="h-full flex flex-col justify-center items-center -mt-32">
    <div class="w-full max-w-sm py-6">
      <div class="px-6 max-w-sm mb-10">
        <nav class="flex justify-between items-center">
          <div class="flex gap-2 items-center">
            <h1 class="text-2xl font-bold text-dark_blue">Ajustes</h1>
            <span>&gt;</span><span class="text-base font-normal">Sistema</span>
          </div>
          <!-- back-button -->
          <BackButton client:load />
        </nav>
      </div>
      <div class="px-6 max-w-sm mb-6">
        <h1 class="text-3xl font-bold text-dark_blue">Usuarios</h1>
      </div>
    </div>
  </div>
</Layout>
